div.bo
{
	background-color: #DDDDDD;
	display: inline-block;
	padding: 4px;
}

div.bo_title
{
	padding: 2px;
	background-color: #FFFFFF;
}

div.bo_containr
{

}

div.bo_event
{

}

div.bo_control
{
	padding: 4px;
}
